# CDC Databases for COVID

In [ ]:
# Provisional COVID-19 Death Counts in the United States by County NCHS
"https://data.cdc.gov/resource/kn79-hsxy.json"

# United States COVID-19 Cases and Deaths by State over Time Case Surveillance
"https://data.cdc.gov/resource/9mfq-cb36.json"

# Distribution of COVID-19 Deaths and Populations, by Jurisdiction, Age, and Race and Hispanic Origin NCHS
"https://data.cdc.gov/resource/jwta-jxbg.json"

# Conditions Contributing to COVID-19 Deaths, by State and Age, Provisional 2020-2022 NCHS
"https://data.cdc.gov/resource/hk9y-quqm.json"

# COVID-19 Case Surveillance Public Use Data with Geography Case Surveillance
"https://data.cdc.gov/resource/n8mc-b4w4.json"

# COVID-19 Case Surveillance Public Use DataCase Surveillance
"https://data.cdc.gov/resource/vbim-akqf.json"

# United States COVID-19 Community Levels by County Public Health Surveillance
"https://data.cdc.gov/resource/3nnm-4jni.json"

# COVID-19 Vaccinations in the United States,County Vaccinations
"https://data.cdc.gov/resource/8xkx-amqh.json"

In [1]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

In [2]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cdc.gov", None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [3]:
# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cdc.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("hk9y-quqm", limit=50000)

In [4]:
# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df

,data_as_of,start_date,end_date,group,state,condition_group,condition,icd10_codes,age_group,covid_19_deaths,number_of_mentions,flag,year,month
0,2022-04-03T00:00:00.000,2020-01-01T00:00:00.000,2022-04-02T00:00:00.000,By Total,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,0-24,1292,1349,NaN,NaN,NaN
1,2022-04-03T00:00:00.000,2020-01-01T00:00:00.000,2022-04-02T00:00:00.000,By Total,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,25-34,5416,5617,NaN,NaN,NaN
2,2022-04-03T00:00:00.000,2020-01-01T00:00:00.000,2022-04-02T00:00:00.000,By Total,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,35-44,14234,14798,NaN,NaN,NaN
3,2022-04-03T00:00:00.000,2020-01-01T00:00:00.000,2022-04-02T00:00:00.000,By Total,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,45-54,35425,36768,NaN,NaN,NaN
4,2022-04-03T00:00:00.000,2020-01-01T00:00:00.000,2022-04-02T00:00:00.000,By Total,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,55-64,77495,80214,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2022-04-03T00:00:00.000,2020-08-01T00:00:00.000,2020-08-31T00:00:00.000,By Month,United States,Respiratory diseases,Chronic lower respiratory diseases,J40-J47,25-34,9,9,NaN,2020,8
49996,2022-04-03T00:00:00.000,2020-09-01T00:00:00.000,2020-09-30T00:00:00.000,By Month,United States,Respiratory diseases,Chronic lower respiratory diseases,J40-J47,25-34,6,6,NaN,2020,9
49997,2022-04-03T00:00:00.000,2020-10-01T00:00:00.000,2020-10-31T00:00:00.000,By Month,United States,Respiratory diseases,Chronic lower respiratory diseases,J40-J47,25-34,6,6,NaN,2020,10
49998,2022-04-03T00:00:00.000,2020-11-01T00:00:00.000,2020-11-30T00:00:00.000,By Month,United States,Respiratory diseases,Chronic lower respiratory diseases,J40-J47,25-34,11,11,NaN,2020,11
49999,2022-04-03T00:00:00.000,2020-12-01T00:00:00.000,2020-12-31T00:00:00.000,By Month,United States,Respiratory diseases,Chronic lower respiratory diseases,J40-J47,25-34,20,20,NaN,2020,12

This seems to work but to get all the data I need an API token.  How many rows are there anyways?

In [5]:
a= results_df['state'].unique()
a.sort()
a

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'New York City',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'United States', 'Utah',
       'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin',
       'Wyoming'], dtype=object)

In [ ]:
# Or passed as a URL perameter
https://data.seattle.gov/resource/kzjm-xkqj.json?$$app_token=APP_TOKEN

In [6]:
with open("APP_TOKEN.txt",'r') as f:
    API_TOKEN=f.read()
client = Socrata("data.cdc.gov", API_TOKEN)
results = client.get("9mfq-cb36", limit=50000)

In [7]:
# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,new_death,pnew_death,created_at,consent_cases,consent_deaths,conf_death,prob_death
0,2021-03-11T00:00:00.000,KS,297229,241035.0,56194,0.0,0,4851,0.0,0,2021-03-12T15:20:13.190,Agree,N/A,NaN,NaN
1,2021-02-12T00:00:00.000,UT,359641,359641.0,0,1060.0,0,1785,11.0,2,2021-02-13T14:50:08.565,Agree,Agree,1729.0,56
2,2022-01-02T00:00:00.000,AS,11,NaN,NaN,0.0,0,0,0.0,0,2022-01-03T15:18:16.200,NaN,NaN,NaN,NaN
3,2020-08-22T00:00:00.000,AR,56199,NaN,NaN,547.0,0,674,11.0,0,2020-08-23T14:15:28.102,Not agree,Not agree,NaN,NaN
4,2021-12-06T00:00:00.000,MP,1104,1104.0,0,0.0,0,5,2.0,0,2021-12-08T00:00:00.000,Agree,Agree,5.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48415,2021-12-28T00:00:00.000,NY,1833465,NaN,NaN,13006.0,0,23446,42.0,0,2021-12-29T14:30:55.917,Not agree,Not agree,NaN,NaN
48416,2021-09-25T00:00:00.000,RMI,4,4.0,0,0.0,0,0,0.0,0,2021-09-27T13:21:43.831,Agree,Agree,0.0,0
48417,2021-06-29T00:00:00.000,TN,865317,713167.0,152150,110.0,34,12564,7.0,0,2021-06-28T00:00:00.000,Agree,Agree,10122.0,2442
48418,2021-03-10T00:00:00.000,SD,113962,NaN,NaN,209.0,37,1904,3.0,0,2021-03-11T15:36:21.295,N/A,Agree,1546.0,358
48419,2021-05-27T00:00:00.000,OH,1100312,921199.0,179113,732.0,196,19753,0.0,0,2021-05-28T13:29:21.497,Agree,Agree,19753.0,0

In [8]:
a= results_df['state'].unique()
a.sort()
a

array(['AK', 'AL', 'AR', 'AS', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL',
       'FSM', 'GA', 'GU', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA',
       'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MP', 'MS', 'MT', 'NC', 'ND',
       'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'NYC', 'OH', 'OK', 'OR', 'PA',
       'PR', 'PW', 'RI', 'RMI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VI',
       'VT', 'WA', 'WI', 'WV', 'WY'], dtype=object)

In [9]:
# 60 "states" which include New York City and Washington DC and Puerto Rico.  Don't know what PW and RMI are.  I think GU is Guam, but FSM?  Flying Speghetti Monster?

In [10]:
# Lets save this so we can use it later
results_df.to_csv("./data/CDC_Cases_and_deaths.csv", index=False)

In [15]:
State_Abriv=pd.read_clipboard()
State_Abriv

                   State Standard Postal
0                Alabama     Ala.     AL
1                 Alaska   Alaska     AK
2                Arizona    Ariz.     AZ
3               Arkansas     Ark.     AR
4             California   Calif.     CA
5             Canal Zone     C.Z.     CZ
6               Colorado    Colo.     CO
7            Connecticut    Conn.     CT
8               Delaware     Del.     DE
9   District of Columbia     D.C.     DC
10               Florida     Fla.     FL
11               Georgia      Ga.     GA
12                  Guam     Guam     GU
13                Hawaii   Hawaii     HI
14                 Idaho    Idaho     ID
15              Illinois     Ill.     IL
16               Indiana     Ind.     IN
17                  Iowa     Iowa     IA
18                Kansas     Kan.     KS
19              Kentucky      Ky.     KY
20             Louisiana      La.     LA
21                 Maine    Maine     ME
22              Maryland      Md.     MD
23         Massachusetts    Mass.     MA
24              Michigan    Mich.     MI
25             Minnesota    Minn.     MN
26           Mississippi    Miss.     MS
27              Missouri      Mo.     MO
28               Montana    Mont.     MT
29              Nebraska     Neb.     NE
30                Nevada     Nev.     NV
31         New Hampshire     N.H.     NH
32            New Jersey     N.J.     NJ
33            New Mexico     N.M.     NM
34              New York     N.Y.     NY
35        North Carolina     N.C.     NC
36          North Dakota     N.D.     ND
37                  Ohio     Ohio     OH
38              Oklahoma    Okla.     OK
39                Oregon     Ore.     OR
40          Pennsylvania      Pa.     PA
41           Puerto Rico     P.R.     PR
42          Rhode Island     R.I.     RI
43        South Carolina     S.C.     SC
44          South Dakota     S.D.     SD
45             Tennessee    Tenn.     TN
46                 Texas    Texas     TX
47                  Utah     Utah     UT
48               Vermont      Vt.     VT
49        Virgin Islands     V.I.     VI
50              Virginia      Va.     VA
51            Washington    Wash.     WA
52         West Virginia    W.Va.     WV
53             Wisconsin     Wis.     WI
54               Wyoming     Wyo.     WY

In [16]:
State_Abriv.to_csv("./data/state_abriv.csv")

In [24]:
results_df['state'].map(dict(zip(State_Abriv['Postal'],State_Abriv['State']))).unique()

array(['Kansas', nan, 'Arkansas', 'Hawaii', 'Alaska', 'Oklahoma',
       'Georgia', 'Florida', 'Texas', 'Utah', 'West Virginia',
       'Massachusetts', 'Colorado', 'Puerto Rico', 'Pennsylvania', 'Iowa',
       'Ohio', 'Tennessee', 'New Mexico', 'New York', 'South Dakota',
       'Washington', 'North Dakota', 'Maryland', 'Vermont', 'Alabama',
       'Illinois', 'Wisconsin', 'Guam', 'Mississippi', 'Nevada', 'Maine',
       'Michigan', 'Connecticut', 'Delaware', 'Nebraska', 'Indiana',
       'Missouri', 'Idaho', 'California', 'Virgin Islands',
       'North Carolina', 'Montana', 'New Hampshire', 'Louisiana',
       'District of Columbia', 'New Jersey', 'Wyoming', 'Kentucky',
       'Minnesota', 'Oregon', 'Rhode Island', 'South Carolina',
       'Virginia', 'Arizona'], dtype=object)

In [25]:
# this works but there is an issue with the entries which are not part of the dictionary.  Like NYC and FSM and RMI.

In [ ]:
# Capturing the neighboring states may help with prediction.  Neighbors may have an effect on one another.  
# This was easier to copy out of the web and make a spreadsheet then copy here.
# Don't know how to do this by county.  Maybe longitude and latitude?

In [13]:
States_Neighbors = pd.read_clipboard()
States_Neighbors

              State Name                                   Bordering States
0                Alabama           Florida, Georgia, Mississippi, Tennessee
1                 Alaska                                               None
2         American Samoa                                               None
3                Arizona     California, Colorado, Nevada, New Mexico, Utah
4               Arkansas  Louisiana, Mississippi, Missouri, Oklahoma, Te...
5             California                            Arizona, Nevada, Oregon
6               Colorado  Arizona, Kansas, Nebraska, New Mexico, Oklahom...
7            Connecticut              Massachusetts, New York, Rhode Island
8               Delaware                 Maryland, New Jersey, Pennsylvania
9   District of Columbia                                 Maryland, Virginia
10               Florida                                   Alabama, Georgia
11               Georgia  Alabama, Florida, North Carolina, South Caroli...
12                  Guam                                               None
13                Hawaii                                               None
14                 Idaho  Montana, Nevada, Oregon, Utah, Washington, Wyo...
15              Illinois  Indiana, Iowa, Michigan, Kentucky, Missouri, W...
16               Indiana                 Illinois, Kentucky, Michigan, Ohio
17                  Iowa  Illinois, Minnesota, Missouri, Nebraska, South...
18                Kansas             Colorado, Missouri, Nebraska, Oklahoma
19              Kentucky  Illinois, Indiana, Missouri, Ohio, Tennessee, ...
20             Louisiana                       Arkansas, Mississippi, Texas
21                 Maine                                      New Hampshire
22              Maryland    Delaware, Pennsylvania, Virginia, West Virginia
23         Massachusetts  Connecticut, New Hampshire, New York, Rhode Is...
24              Michigan  Illinois, Indiana, Minnesota (water border), O...
25             Minnesota  Iowa, Michigan (water border), North Dakota, S...
26           Mississippi           Alabama, Arkanssas, Louisiana, Tennessee
27              Missouri  Arkansas, Illinois, Iowa, Kansas, Kentucky, Ne...
28               Montana         Idaho, North Dakota, South Dakota, Wyoming
29              Nebraska  Colorado, Iowa, Kansas, Missouri, South Dakota...
30                Nevada           Arizona, California, Idaho, Oregon, Utah
31         New Hampshire                      Maine, Massachusetts, Vermont
32            New Jersey                   Delaware, New York, Pennsylvania
33            New Mexico           Arizona, Colorado, Oklahoma, Texas, Utah
34              New York  Connecticut, Massachusetts, New Jersey, Pennsy...
35        North Carolina       Georgia, South Carolina, Tennessee, Virginia
36          North Dakota                   Minnesota, Montana, South Dakota
37                  Ohio  Indiana, Kentucky, Michigan, Pennsylvania, Wes...
38              Oklahoma  Arkansas, Colorado, Kansas, Missouri, New Mexi...
39                Oregon              California, Idaho, Nevada, Washington
40          Pennsylvania  Delaware, Maryland, New Jersey, New York, Ohio...
41           Puerto Rico                                               None
42          Rhode Island  Connecticut, Massachusetts, New York (water bo...
43        South Carolina                            Georgia, North Carolina
44          South Dakota  Iowa, Minnesota, Montana, Nebraska, North Dako...
45             Tennessee  Alabama, Arkansas, Georgia, Kentucky, Mississi...
46                 Texas          Arkansas, Louisiana, New Mexico, Oklahoma
47                  Utah  Arizona, Colorado, Idaho, Nevada, New Mexico, ...
48               Vermont             Massachusetts, New Hampshire, New York
49              Virginia  Kentucky, Maryland, North Carolina, Tennessee,...
50            Washington                                      Idaho, Oregon
51         West Virginia   Kentucky, Maryland, Ohio, Pennsylvania, Virginia
52             Wisconsin                Illinois, Iowa, Michigan, Minnesota
53               Wyoming  Colorado, Idaho, Montana, Nebraska, South Dako...

In [14]:
States_Neighbors.to_csv("./data/state_neighbors.csv")

In [ ]:
# Opendatasoft has an amazing set of data for the county boarders of the US
https://public.opendatasoft.com/explore/embed/dataset/us-county-boundaries/map/?disjunctive.statefp&disjunctive.countyfp&disjunctive.name&disjunctive.namelsad&disjunctive.stusab&disjunctive.state_name&location=5,40.83044,-92.98828&basemap=jawg.light

So I only coppied the first 80 rows from that.  Doesn't work sadly that way.

In [3]:
boundries =pd.read_csv("./data/boarders/us-county-boundaries.csv", sep=';')
boundries

,Geo Point,Geo Shape,STATEFP,COUNTYFP,COUNTYNS,GEOID,NAME,NAMELSAD,STUSAB,LSAD,...,CSAFP,CBSAFP,METDIVFP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,STATE_NAME,COUNTYFP NOZERO
0,"40.1763796295,-98.0471849897","{""coordinates"": [[[-98.273667, 40.089399], [-9...",31,129,835886,31129,Nuckolls,Nuckolls County,NE,6,...,NaN,NaN,NaN,A,1489645188,1718484,40.176492,-98.046842,Nebraska,129
1,"40.7715207081,-84.1057794323","{""coordinates"": [[[-84.397189, 40.786584], [-8...",39,3,1074015,39003,Allen,Allen County,OH,6,...,338.0,30620.0,NaN,A,1042479889,11259523,40.771627,-84.106103,Ohio,3
2,"41.9103521337,-81.250939242","{""coordinates"": [[[-81.488643, 41.631522], [-8...",39,85,1074055,39085,Lake,Lake County,OH,6,...,184.0,17460.0,NaN,A,593807218,1942301625,41.924116,-81.392643,Ohio,85
3,"37.5023005833,-94.3471107747","{""coordinates"": [[[-94.617088, 37.477776], [-9...",29,11,758460,29011,Barton,Barton County,MO,6,...,NaN,NaN,NaN,A,1533351029,12152201,37.500799,-94.344089,Missouri,11
4,"45.151770859,-86.0384960523","{""coordinates"": [[[-85.561745, 44.952258], [-8...",26,89,1622987,26089,Leelanau,Leelanau County,MI,6,...,NaN,45900.0,NaN,A,899241895,5659105307,45.146182,-86.051574,Michigan,89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3228,"31.8133256702,-95.6525471812","{""coordinates"": [[[-95.677533, 32.051631], [-9...",48,1,1383786,48001,Anderson,Anderson County,TX,6,...,NaN,37300.0,NaN,A,2752201306,39808595,31.841261,-95.661727,Texas,1
3229,"38.0267183008,-77.3470467441","{""coordinates"": [[[-77.551611, 38.073609], [-7...",51,33,1480107,51033,Caroline,Caroline County,VA,6,...,NaN,NaN,NaN,A,1366502847,24928486,38.030319,-77.352348,Virginia,33
3230,"45.1719349421,-96.7676947106","{""coordinates"": [[[-97.226066, 45.209924], [-9...",46,51,1265782,46051,Grant,Grant County,SD,6,...,NaN,NaN,NaN,A,1764937242,15765681,45.172637,-96.772261,South Dakota,51
3231,"40.31072723,-79.4669607014","{""coordinates"": [[[-79.61818, 40.644766], [-79...",42,129,1209191,42129,Westmoreland,Westmoreland County,PA,6,...,430.0,38300.0,NaN,A,2662612862,20837789,40.311068,-79.466688,Pennsylvania,129
3232,"48.7751394251,-95.8108171586","{""coordinates"": [[[-96.404665, 48.805285], [-9...",27,135,659513,27135,Roseau,Roseau County,MN,6,...,NaN,NaN,NaN,A,4329471929,16913419,48.761068,-95.821504,Minnesota,135

In [1]:
import geopandas

gdf = geopandas.read_file("./data/boarders/georef-united-states-of-america-county.geojson")

gdf

CRSError: Invalid projection: epsg:4326: (Internal Proj Error: proj_create: SQLite error on SELECT name, type, coordinate_system_auth_name, coordinate_system_code, datum_auth_name, datum_code, area_of_use_auth_name, area_of_use_code, text_definition, deprecated FROM geodetic_crs WHERE auth_name = ? AND code = ?: no such column: area_of_use_auth_name)